[Unit]
Description=Detection d'un cable sur eth0 pour le client final
After=dynamicWLAN.service

[Service]
Type=simple
ExecStart=/usr/local/bin/connexionClientFinal
Restart=on-failure 
RestartSec=5s

[Install]
WantedBy=default.target
