[Unit]
Description=Lance le script qui dynamise les conf pour rasp 1

[Service]
Type=simple
ExecStart=/usr/local/bin/dynamiconnectionETH
Restart=on-failure 
RestartSec=5s

[Install]
WantedBy=default.target
