[Unit]
Description=Lance le script qui va determiner si la Rasp est la 1er ou non
After=dhclient.service 
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/whoamiREE

[Install]
WantedBy=default.target
